body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
}
.logo{
margin-top: -15px;
}
@media (min-width: 1200px){
.container {
  width: 100%;
}}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  font-family: arial;
  height: 38px;
}
.usr-image{
  border-radius: 10%;
  width : 38px;
  height: 38px;
  border:1px solid #202020;
  margin-right: 2px;
}
#header{
background-color: #4e5052;
position: relative;
z-index: 999;
}
.header-right{
  border: 4px solid #202020;
  height: 46px;
  padding: 0px;
  margin: 10px;
  background-color: #333333 !important;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.header-right > a {
  color: #ffffff;
  font-size: 14px;
  min-height: 38px;
  font-weight: 600;
  display: block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &:hover{
    text-decoration: underline;
  }
  .top-header-title {
    display: inline-block;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
  }
  .top-header-caret {
    display: inline-block;
    width: 9%;
    line-height: 38px;
  }
}
#imaginary_container{
  margin: 3% 5%; 
}
span.globle-chevron-icon {
  border-left: none;
  padding-left: 5px;
  padding-right: 5px;
  button {
    border: 0;
    background-color: inherit;
  }  
}
.globle-search-icon{  
  button{
    border: 0;
    background-color: inherit;
  }
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.globle-search-input{
  border-right:0;
  color: #45494c;
  &:focus {
    border-color: #cccccc !important;
  }
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.chevron-class {
  font-size: 10px;
}
@media (min-width: 300px)and (max-width: 768px){
.portal-name {
font-size: 12px !important;
margin-top: 15px !important;
}

.navbar-brand {
padding-top: 2px !important;
padding-left: 2px !important;
margin-left: 2px !important;
padding-right: 2px !important;
}
img.logo {
  height: 60px;
  padding-top: 20px;
  margin-right: 5px;
}
.margin-padding-zero {
margin-left:0px !important;
padding-left: 0px !important;
}
.nav-header {
padding: 3px !important;
}
.metismenu {
left: -145px !important;
}
.profile-small{
  height: 35px;
  margin-top: 5px;
  margin-right: 0px;
}
.globle-search-input{
  border-right:0;
  color: #2C95DD;
 }
#header{
margin-bottom: 10px !important;
}
.xs-report-header{
    font-family: arial;
}
.button-icon {
padding: 4px !important;
margin: 4px 0px !important;
color: #333333;
}
.glb-search-mob{
    background-color: #333;
    padding: 10px 10px 0px 10px;
}
}
@media (min-width: 300px)and (max-width: 374px){
.portal-name {
    font-size: 8px !important;
    margin-top: 15px !important;
}
.profile-small {
    height: 30px;
    margin-left: -5px;
}

}
@media (min-width: 768px)and (max-width: 991px){
  .container {
    width: 100%;
  }
  header .portal-name {
    line-height: 50px;
    font-size: 18px !important;
    margin-top: 15px !important;
  }
  .navbar-brand {
    padding-top: 5px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    padding-right: 5px !important;
  }
  img.logo {
      height: 65px;
      padding-top: 0px;
      margin-right: 5px;
      margin-top: -5px;
  }
  .margin-padding-zero {
    margin-left:0px !important;
    padding-left: 0px !important;
  }
  /*.nav-header {
  padding: 3px !important;
  }
  .metismenu {
  left: -100px !important;
  }
  .profile-small{
    height: 35px;
    margin-top: 5px;
    margin-right: -50px;
  }
  .globle-search-input{
    border-right:0;
    color: #2C95DD;
   }
  #header{
  margin-bottom: 10px !important;
  }*/
  .usr-image {
    width: 30px;
    height: 30px;
  }
  .header-right {
    height: 40px;
    padding: 0px;
    margin: 5px;
    width: 175px;
  }
  header .input-group-addon {  
    padding: 5px 12px !important;
    font-size: 10px;
  }

}
@media (min-width: 992px)and (max-width: 1199px){
.container {
    width: 100%;
}
.portal-name {
  font-size: 25px !important;
}
}
.profile-dropdown-menu{
    margin-right: 50px;
    margin-top: -10px;
}