
<div id="GroupsModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" ng-show="items.type">Add New Persona</h3>
        <h3 class="modal-title" ng-hide="items.type">Edit Persona</h3>
    </div>
    <div class="modal-body">
        <form name="groupForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row updateNews">
                        <div class="col-xs-4"> Persona </div>
                        <div class="col-xs-8">
                            <input type="text" name="groupName" ng-model="items.groupName" class="col-xs-8">
                        </div>
                    </div> 
                    <div class="row updateNews">
                        <div class="col-xs-4"> Operational Page URL </div>
                        <div class="col-xs-8">
                            <input type="url" name="url" ng-model="items.operationDashboardPage" class="col-xs-8">
                            <span class="error urlValidation" ng-show="groupForm.url.$error.url">  Not Valid url!</span>
                        </div>
                    </div> 
                </div>
            </div>
         </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="!(!!items.groupName || !!items.operationDashboardPage)||(groupForm.url.$invalid)" ng-click="save(items)">Save</button>
        <button class="btn btn-warning" type="button" ng-click="close()"> Cancel </button>
    </div>
    
</div>