@import "_header.scss";
@import "_custom.scss";
@import "_BINews.scss";
@import "_select.scss";

.nav-pills > li {
  background-color: white;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
    text-decoration: none;
    font-weight: bold;
    border-radius:0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #0198E1;
    color: #000 !important;
    background-color: transparent !important;
}
