 <div class="pace-done">
    <div id="wrapper">
         <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu" style="display: block;">
                    <li class="nav-header" ng-show="username!=''">
                        <div class="dropdown text-center profile-element" title="{{username}}" > 
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#/">
                            <span>
                                <img alt="image" class="img-circle" src="images/profile_small.jpg">
                            </span>
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{username}}</strong>
                             </span> <span class="text-muted text-xs block">UI Lead, Enterprise Data Warehouse <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Contacts</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Account Setting</a></li>
                                <li class="divider"></li>
                                <li><button class="btn add-to-gallary profile-m-b">Logout</button></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            myBI
                        </div>
                    </li>
                   
                    <li>
                        <a href="#/"><img src="images/Icondashboard.png"/> <span class="nav-label">Dashboards</span> </a>
                    </li>
                    <li class="">
                        <a href="#/reportsDashboard"> <img src="images/reportDashboardIcon_leftNavigation.png"/><span class="nav-label">Operational Dashboards</span></span></a>
                    </li>
                    <li class="">
                        <a href="#/reports"> <img src="images/iconReports.png"/><span class="nav-label">Reports</span></a>
                    </li>
                    <li class="active">
                        <a href="#/404"><img src="images/iconNewsAnnounement.png"/><span class="nav-label">News and announcement</span></a>
                    </li>
                    <li ng-hide="userType!='admin'" >
                        <a href="#/tilesPage"><img src="images/icon_addTile.png"/><span class="nav-label">Add Tiles</span></a>
                    </li>
                </ul>

            </div>
        </nav>
        
        <div id="page-wrapper" class="white-bg dashbard-1" style="min-height: 633px;">
            <div class="row border-bottom gray-bg visible-md visible-lg visible-sm hidden-xs">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <div>
                            <ul class="main-content-header">
                                <li>
                                    <!-- <img class="reports-content-header-title" src="images/reportDashboardIcon.png"/> -->
                                </li>
                                <li>
                                    <h2>404 Page</h2>
                                </li>
                            </ul>
                        
                        </div> 
                    </div>
                    <div class="navbar-header-right">
                        <span class="youarehere">YOU ARE HERE : </span> 
                        <span class="current-page"><a href="#/">Dashboard </a> > 404 Page </span>
                    </div>  

                </nav>
            </div>
            <div class="row gray-bg hidden-md hidden-lg hidden-sm visible-xs">
                <div class="col-xs-12" >
                     <div class="menu-bar-small blue-head">
                        <span>MENU</span>
                        <button class="navbar-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>  
                        </button> 
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#/"><img src="images/Icondashboard.png"/> <span class="nav-label">Dashboards</span> </a>
                            </li>
                            <li>
                                <a href="#/reportsDashboard"> <img src="images/reportDashboardIcon_leftNavigation.png"/><span class="nav-label">Operational Dashboards</span></a>
                            </li>
                            <li>
                                <a href="#/reports"> <img src="images/iconReports.png"/><span class="nav-label">Reports</span></a>
                            </li>
                            <li class="active">
                                <a href="#/404"><img src="images/iconNewsAnnounement.png"/><span class="nav-label">News and announcement</span></a>
                            </li>
                            <li ng-hide="userType!='admin'">
                                <a href="#/tilesPage"><img src="images/icon_addTile.png"/><span class="nav-label">Add Tiles</span></a>
                            </li>
                        </ul>
                    </div> 
                </div>
            </div>
          
            <!-- main content -->
            <div class="row" >
                <div class="col-md-12 col-lg-12 col-sm-12 tilesbody-form-p">
                    <div class="body-404-page">    
                        <h1>Not found <span>:(</span></h1>
                        <p>Sorry, but the page you were trying to view does not exist.</p>
                        <p>It looks like this was the result of either:</p>
                        <ul>
                            <li>a mistyped address</li>
                            <li>an out-of-date link</li>
                        </ul>
                        
                    </div>
                    <div class="footer">
                        <div class="pull-right visible-md visible-lg hidden-sm hidden-xs">
                            FAQ | Request Management | Contact | Help | Terms & Conditions | Privacy Policy
                        </div>
                        <div class="pull-left">
                            <strong>Copyright 2015</strong> - All rights reserved.
                        </div>
                    </div>
                </div>
            </div> 
            <!-- end main content -->

        </div>
    </div>
</div>