<div class="row">
    <div class="col-md-9 main-container" ng-mouseenter="triggerCarousel()">
        <div class="row" style="margin-bottom: 30px;" ng-if="ieFlag">
            <div class="col-xs-12 carouselSlider" ng-show="personaInfo.status.toLowerCase() === 'success'" ng-mouseenter="triggerCarosel()" id="carouselSlider" ng-if="ieFlag">
                <!--img src="images/banner.png" style="width: 100%;" -->
                <uib-carousel active="activeTab" interval="myInterval" no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="slide in carouselData" >
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                        <div class="carousel-caption">
                            <div class="carousel-caption-centered">
                                <div class="child1">
                                    <h4>{{slide.title}}</h4>
                                </div>
                                <div class="child2">
                                    <p><a href="{{slide.link}}" target="_blank">{{slide.details}}</a></p>
                                </div>
                            </div>
                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>
            <div class="col-xs-12 persona-error" ng-show="personaInfo.status.toLowerCase() === 'error'">
                {{personaInfo.message}}
            </div>
        </div>

        <load-tiles tiles-data="panelRRReports" user-login-name="{{userObject.emcLoginName}}"></load-tiles>
        <load-tiles tiles-data="panelFavoriteReports" user-login-name="{{userObject.emcLoginName}}"></load-tiles>
        <load-tiles tiles-data="panelMostViewedReports" user-login-name="{{userObject.emcLoginName}}"></load-tiles>
    </div>
    <div class="col-md-3 main-container-right">
        <div class="panel ibox float-e-margins">
            <div class="grey-head ibox-title">
                <img src="images/iconNewsNCommunication.png"/>
                <h5>News</h5>
                <div class="ibox-tools">
                    <a class="collapse-link" ng-click="collapseMyActivity()">
                        <!-- <i class="fa fa-chevron-up"></i> -->
                        <img ng-hide="showMyActivity" src="images/collapseIcon.png"/>
                        <img ng-show="showMyActivity" src="images/expandedIcon.png"/>
                    </a>
                </div>
            </div>
            <div ng-show="showMyActivity" class="control-padding ibox-content">

                <ul class="news-list">
                    <li ng-repeat="news in newsData">
                        <a ng-href="{{news.url}}" target="_blank" class="news-heading" >
                            {{news.title}}
                        </a>
                        <div class="news-desc">
                            {{news.description}}
                        </div>
                    </li>
                </ul>
                <!--div style="text-align: right;">
                    <a href="javascript:void(0);" style="">
                        <span>view more</span> >>
                    </a>
                </div -->
            </div>
        </div>
        <div class="panel ibox float-e-margins">
            <div class="grey-head ibox-title">
                <img src="images/iconMylevelIndication.png"/>
                <h5>My Level Indication</h5> 
                <div class="ibox-tools">
                    <a class="collapse-link" ng-click="collapseMyIndication()">
                        <!-- <i class="fa fa-chevron-up"></i> -->
                        <img ng-hide="showMyIndication" src="images/collapseIcon.png"/>
                        <img ng-show="showMyIndication" src="images/expandedIcon.png"/>
                    </a>
                </div>
            </div>
            <div class="ibox-content ibox-content-progress" >
                <div ng-show="showMyIndication" class="row">
                    This indicates the usage level of  reports/dashboards for the user in this portal.
                </div>
                <div class="row bs-wizard" style="border-bottom:0;">
                    <div class="col-xs-3 bs-wizard-step" ng-class="myLevel.step1"> 
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot">1</a>
                        <div ng-show="showMyIndication" class="text-center bs-wizard-stepnum">Bronze</div>
                    </div>

                    <div class="col-xs-3 bs-wizard-step" ng-class="myLevel.step2">
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot">2</a>
                        <div ng-show="showMyIndication" class="text-center bs-wizard-stepnum">Silver</div>
                    </div>

                    <div class="col-xs-3 bs-wizard-step" ng-class="myLevel.step3"> 
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot">3</a>
                        <div ng-show="showMyIndication" class="text-center bs-wizard-stepnum">Gold</div>
                    </div>

                    <div class="col-xs-3 bs-wizard-step" ng-class="myLevel.step4"> 
                        <div class="progress"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot">4</a>
                        <div ng-show="showMyIndication" class="text-center bs-wizard-stepnum">Platinum</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel ibox float-e-margins">
            <div class="grey-head ibox-title">
                <img src="images/iconPopularSearches.png"/>
                <h5>Popular Search</h5>
                <div class="ibox-tools">
                    <a class="collapse-link" ng-click="collapseBadges()">
                        <!-- <i class="fa fa-chevron-up"></i> -->
                        <img ng-hide="showBadges" src="images/collapseIcon.png"/>
                        <img ng-show="showBadges" src="images/expandedIcon.png"/>
                    </a>
                </div>
            </div>
            <div ng-show="showBadges" class="control-padding ibox-content">

                <!--img src="images/popular-search.png" style="width:100%" / -->
                <jqcloud words="words" shape="elliptic" colors="['#3396da']" width="250" height="250" steps="10"></jqcloud>
            </div>
        </div>

    </div>
</div>